<h3>Customers</h3>

<button class="btn btn-primary my-3" (click)="add()">Add Customer</button>

<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name of Customer</th>
      <th>Accounts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers | async">
      <td>{{ c.id }}</td>
      <td>{{ c.firstName }} {{ c.lastName }}</td>
      <td>{{ c.accounts?.length }}</td>
      <td>
        <button
          class="btn btn-warning btn-sm me-3"
          [routerLink]="['/customer-details', c.id]"
        >
          Show Details
        </button>
        <button
          class="btn btn-primary btn-sm"
          [routerLink]="['/new-account', c.id]"
        >
          Add Account
        </button>
      </td>
    </tr>
  </tbody>
</table>
